.header img {
    height: 80px;
}
.header {
    text-align: center;
}
.nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 40px;
    padding: 5px;
    margin-left: 40px;
}
.nav a:hover {
    background-color: gray;
}
.nav {
    background-color: black;
}
.input {
    background-color: #333;
    margin-bottom: 10px;
}
.input input {
    width: 70%;
    margin: 30px 150px;
    height: 20px;
}